---
import BannerImage from "../../components/BannerImage.astro";
import Footer from "../../components/Footer.astro";
import StatementInformationCard from "../../components/StatementInformationCard.astro";
import TopBanner from "../../components/TopBanner.astro";
import TopMenu from "../../components/TopMenu.astro";
import ContentArticlePageLayout from "../../layouts/ContentArticlePageLayout.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { data_11_9_pregrado } from "../../util/data-numeral-11.9/info_11.9";
---

<MainLayout pageTitle="Numeral 11.9 de la Ley Universitaria | Docentes Pregrado">
    <TopBanner />
	<TopMenu />
    <BannerImage title={"Documentos Públicos Administrativos"} content = {} size={"small"}/>
    <ContentArticlePageLayout>
      {
        data_11_9_pregrado.length > 0 ? 
          data_11_9_pregrado.map(item => (
            <StatementInformationCard
              statementItem={item}
            />
          )): (
            <p class="text-center my-10">No hay registros</p>
          )
      }
    </ContentArticlePageLayout>
    <Footer />
</MainLayout>