---
import BannerImage from "../components/BannerImage.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import TopBanner from "../components/TopBanner.astro";
import TopMenu from "../components/TopMenu.astro";
import Layout from "../layouts/Layout.astro";
import { ley_universitaria } from "../util/info_uni.js";
---

<Layout pageTitle="Página transparencia unt">
	<TopBanner />
	<TopMenu />
	<BannerImage />
	<section class="antialiased dark:bg-gray-900 md:py-16">
		<div class="mx-auto max-w-screen-2xl px-4 2xl:px-0">
			<div class="grid-container">
				{	
					ley_universitaria.map((item, index) => (
						<Card url = {item.url || ''} contador = {index + 1}  descripcion = { item.descripcion } icon = { item.icon }/>
					))
				}
			</div>
		</div>
	</div>
	<Footer />
</Layout>

<style>
	.grid-container{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 60px;
		padding: 30px;
	}
</style>
