---
import type { Bylaw } from '../interfaces'

interface Props {
  bylaws: Bylaw[];
}

const { bylaws } = Astro.props
---

<table class="max-w-screen-lg">
  <tr>
    <th class="uppercase text-[#06133d] text-lg">Título</th>
    <th class="uppercase text-[#06133d] text-lg">Año</th>
    <th class="uppercase text-[#06133d] text-lg">Enlace</th>
  </tr>
  {
    bylaws.map(bylaw => (
      <tr>
        <td class="text-center uppercase">{bylaw.title}</td>
        <td class="text-center">{bylaw.year}</td>
        <td class="text-center">
          <a 
            class="underline"
            href={bylaw.filePath} 
            target={bylaw.hasTargetBlank ? "_blank" : "_self"}
            title={`Ver ${bylaw.title}`}
            >
            Ver
          </a>
        </td>
      </tr>
    ))
  }
</table>