---
interface Props {
    contador: number;
    descripcion: string;
    icon: string;
}

const { contador, descripcion, icon } = Astro.props;
---

<a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 fade-in">
    <div class="flex items-center">
        <div class="p-7 flex items-center justify-center w-10 h-10 rounded-full border-[#12377B] border-2 ml-2 hover:bg-[#12377B] transition-all">
            <i class={`${icon} text-2xl text-[#12377B] transition-all`}></i>
        </div>    
    </div>
    <div class="flex flex-col justify-between p-4 leading-normal">
        <h5 class="mb-2 text-sm font-bold tracking-tight text-gray-900 dark:text-white"></h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold tracking-tight text-blue-800 mr-2">11. { contador } </span>{ descripcion }</p>
    </div>
</a>

<style>
    a {
        border-left: 4px solid #12377B;
    }

    .hover\:bg-\[\#12377B\]:hover i {
        color: white !important; /* Cambia el color del ícono a blanco al hacer hover */
    }

    .fade-in {
        opacity: 0;
        animation: fadeIn 3.5s forwards; /* Duración 1.5 segundos */
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }
</style>
