<nav class="bg-[#06133d] dark:bg-gray-700">
    <div class="max-w-screen-xl px-4 py-3 mx-auto">
        <div class="flex items-center justify-center">
            <ul class="flex justify-center items-center space-x-4 sm:space-x-8 text-sm text-center font-medium">
                <li class="relative flex items-center">
                    <a href="https://www.unitru.edu.pe/admision.aspx" 
                       class="text-slate-100 dark:text-white hover:underline">
                        Examen de Admisión
                    </a>
                </li>
                <li class="border-l border-slate-300 h-5"></li>
                <li class="relative flex items-center">
                    <a href="https://www.unitru.edu.pe/convocatoria.aspx" 
                       class="text-slate-100 dark:text-white hover:underline">
                        Convocatorias
                    </a>
                </li>
                <li class="border-l border-slate-300 h-5"></li>
                <li class="relative flex items-center">
                    <a href="https://resoluciones.unitru.edu.pe" 
                       class="text-slate-100 dark:text-white hover:underline">
                        Buscador de Actas y Resoluciones
                    </a>
                </li>
                <li class="border-l border-slate-300 h-5"></li>
                <li class="relative flex items-center">
                    <a href="https://aulavirtual2.unitru.edu.pe" 
                       class="text-slate-100 dark:text-white hover:underline">
                        Aula Virtual
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
