<section class="max-w-6xl mx-auto my-16 px-4">
  <div class="mb-4 sm:block hidden">
    <button id="back-btn" class="text-[#12377B] hover:underline">
      <i class="fa-solid fa-left-long mr-2"></i>Atrás
    </button>
  </div>
  <div class="mt-10 flex flex-col space-y-5">
    <slot />
  </div>
</section>

<script>
  const backButton = document.querySelector("#back-btn");
  backButton.addEventListener("click", (e)=>{
    e.preventDefault();
    const regexPattern = /\/numeral-11\.([1-9]\d*)\/([1-9]\d*)\/?$/;
    const currentUrl = location.pathname;
    if(regexPattern.test(currentUrl)){
      location.href = "/";
    }else{
      const urlSegments = currentUrl.split("/");
      urlSegments.splice(urlSegments.length - 1, 1);
      const backUrl = urlSegments.join("/") || "/";
      location.href = backUrl;
    }
  });
</script>